.right{
    flex: 1;
    backdrop-filter: blur(20px);
    color: white;
}
.weatherdetail{
    /* display: flex; */
    margin-top: 20px;
}
.cloud{
    display: flex;
    justify-content: space-between;
}
.content{
    margin-left: 30px;
    margin-right: 30px;
}
.upperComponent{
    display:flex;
    justify-content: space-between;
}
.middleComponent{
    line-height: 2em;

}